/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*------------------Background colours--*/

.bg-society {
    background-color: #fafafa;
}

/*-------------------Navbar---*/

.navbar {
   font-family: 'Noto Sans JP', sans-serif;
}

/*------------------Hero-Image--*/

.home-info {
   background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)) ), url('../images/hero-image.jpg');
   background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) ), url('../images/hero-image.jpg');
   background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) ), url('../images/hero-image.jpg');
   height: 900px;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
}

/*------------------Home Information--*/

.home-info {
   font-family: 'Lato', sans-serif;
}

.home-info h3 {
   padding: 25px 5%;
   font-family: 'Noto Sans JP', sans-serif;
}

.home-info p {
   padding: 0px 5%;
}

#home-info-text {
  color: #fafafa;
}

.further-info {
   font-family: 'Lato', sans-serif;
}

.further-info h4 {
   font-family: 'Noto Sans JP', sans-serif;
   padding: 25px 5%;
}

.further-info p {
   padding: 0 5%;
   text-decoration: none;
}

.further-info a {
   color: #000;
}

/*------------------About Us Page--*/

.about-us {
   background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)) ), url('../images/lake.jpg');
   background: -o-linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/lake.jpg');
   background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/lake.jpg');
   height: 750px;
   background-size: cover;
   background-position: center center;
   overflow: auto;
   color: #fff;
}

.about-us h3 {
   padding: 25px 5%;
   font-family: 'Noto Sans JP', sans-serif;
}

.about-us p {
   font-family: 'Lato', sans-serif;
   padding: 0px 5%;
}

.rules {
   font-family: 'Lato', sans-serif;
}

.rules h3 {
   font-family: 'Noto Sans JP', sans-serif;
   padding: 25px 5%;
}

.rules h4 {
   font-family: 'Noto Sans JP', sans-serif;
   padding: 25px 5%;
}

.rules li {
   padding-top: 2px;
   padding-left: 5%;
}

.rules p {
   padding-left: 5%;
}


/*------------------Footer--*/

.footer {
   text-align: center;
   background-color: #585858;
}

.social-networks li {
   display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1% 5%;
    color: #fff;
}

/*------------------Diary Page--*/

.diary-title {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 5%;
    background-color: #fafafa;
    font-family: 'Noto Sans JP', sans-serif;
}

.locations {
    text-align: center;
    color: #fafafa;
    font-family: 'Lato', sans-serif;
    height: 300px;
}

.locations h3 {
    padding-top: 25px;
}

.locations-1 {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)) ), url('../images/diary-background.jpg');
    background: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/diary-background.jpg');
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/diary-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.locations-2 {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)) ), url("../images/locations-2.jpg");
    background: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/locations-2.jpg");
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/locations-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.locations-3 {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)) ), url("../images/locations-3.jpg");
    background: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/locations-3.jpg");
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/locations-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.locations-4 {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)) ), url("../images/location-4.jpg");
    background: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/location-4.jpg");
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/location-4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.travel {
   font-family: 'Lato', sans-serif;
   font-size: 1.1em;
}

.travel h3 {
   padding: 25px 0;
}

.address {
   margin-bottom: 0;
}

/*------------------Results--*/

.results {
   background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)) ), url('../images/results.jpg');
   background: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/results.jpg');
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/results.jpg');
   height: 450px;
   background-size: cover;
   background-position: center center;
   overflow: auto;
   color: #fff;
}

.results table {
   font-family: 'Lato', sans-serif;
}

.results table i {
   color: #fff;
}

/*------------------Form--*/

.form-section {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)) ), url("../images/form.jpg");
    background: -o-linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../images/form.jpg");
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../images/form.jpg");
    background-size: cover;
    background-position: center;
    height: 750px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    color: #fff
}

.form-section h3 {
   font-family: 'Noto Sans JP',sans-serif;
   padding: 25px 0;
}


/*------------------Media queries--*/

@media screen and (max-width:768px) {
    .locations {
        margin-bottom: 5px;
    }
}

@media screen and (min-width:768px) {
    .mission-statement {
        border-left: 1px solid #fff;
        border-top: none;
    }
}