/*------------------Background colours--*/

.home-info {
    background-color: #d0d0d0;
}

/*------------------Header--*/

.link-items li a{
    color: #000
}



/*------------------Hero-Image--*/

.home-title {
    width: 100%;
}

.hero-image img {
    width: 100vw;
    max-width: 100%;
    object-fit: contain;
    position: relative;
    z-index: -1;
    display: block;
}

.hero-image h1 {
    top: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    color: #fafafa;
}

/*------------------Home Information--*/

.home-info {
    padding-top: 5px;
}

.home-info p {
    margin-left: 1%;
}


/*------------------Footer--*/


.footer-items li a {
    color: #000;
    font-size: 24px;
    z-index: 1000;
}

/*------------------Padding and Margins--*/

