/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*------------------Background colours--*/

.bg-society {
    background: linear-gradient(rgba(240, 240, 240, 1), rgba(255, 255, 255, 1) );
}

/*-------------------Navbar---*/

.navbar {
   font-family: 'Noto Sans JP', sans-serif;
}

/* The following two rules are to fix the footer at the bottom of the results page */

html, body {
    width: 100%;
    height: 100%;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

/*------------------Hero-Image--*/

.home-info {
   background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)) ), url('../images/hero-image.jpg');
   background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) ), url('../images/hero-image.jpg');
   background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) ), url('../images/hero-image.jpg');
   height: 900px;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
}

/*------------------Home Information--*/

body {
   font-family: 'Lato', sans-serif;
}


.home-info h3 {
   padding: 25px 5%;
   font-family: 'Noto Sans JP', sans-serif;
}

.home-info h5 {
   padding: 0px 5%;
}

#home-info-text {
  color: #fafafa;
}

.home-about {
   padding-top: 25px;
}

.home-about p {
   padding: 0px 5%;
}

.further-info h4 {
   font-family: 'Noto Sans JP', sans-serif;
   padding: 25px 5%;
}

.further-info p {
   padding: 0 5%;
   text-decoration: none;
}

.further-info a {
   color: #000;
}

/*------------------About Us Page--*/

.about-us {
   background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)) ), url('../images/lake.jpg');
   background: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/lake.jpg');
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/lake.jpg');
   height: 750px;
   background-size: cover;
   background-position: center center;
   overflow: auto;
   color: #fff;
}

.about-us h3 {
   padding: 25px 5%;
   font-family: 'Noto Sans JP', sans-serif;
}

.about-us p {
   padding: 0px 5%;
}

#top-padding {
   padding-top: 25px;
}

.rules {
   padding-top: 25px;
}

.rules h3 {
   font-family: 'Noto Sans JP', sans-serif;
   padding-bottom: 10px;
}

.card {
   background-color: #f1f1f1;
}

/*------------------Footer--*/

.footer {
   text-align: center;
   background: linear-gradient(rgba(255, 255, 255, 1), rgba(240, 240, 240, 1) );
}

.social-networks li {
   display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1% 5%;
    color: #000;
}

/*------------------Diary Page--*/

.diary-title {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 5%;
    background-color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
}

.locations {
    text-align: center;
    color: #fafafa;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.locations h3 {
    padding-top: 25px;
}

.locations-1 {
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)) ), url('../images/diary-background.jpg');
    background-image: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/diary-background.jpg');
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/diary-background.jpg');
}

.locations-2 {
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)) ), url("../images/locations-2.jpg");
    background-image: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/locations-2.jpg");
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/locations-2.jpg");
}

.locations-3 {
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)) ), url("../images/locations-3.jpg");
    background-image: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/locations-3.jpg");
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/locations-3.jpg");
}

.locations-4 {
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)) ), url("../images/location-4.jpg");
    background-image: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/location-4.jpg");
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/location-4.jpg");
}

.travel {
   font-size: 1.1em;
   padding: 0 5%;
}

.travel h3 {
   padding: 25px 0;
}

.address {
   margin-bottom: 0;
}

/*------------------Results--*/

.results {
   background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)) ), url('../images/results.jpg');
   background: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/results.jpg');
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/results.jpg');
   height: 150px;
   background-size: cover;
   background-position: center center;
   overflow: auto;
   color: #fff;
}

.results h1 {
   font-family: 'Noto Sans JP',sans-serif;
   padding: 25px 0;
}

.results-table i {
   color: #000;
}

/*------------------Form--*/

.form-section {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)) ), url("../images/form.jpg");
    background: -o-linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../images/form.jpg");
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../images/form.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    overflow: hidden;
    color: #fff
}

.signup-form {
   padding-top: 25px;
}

.form-section h1 {
   font-family: 'Noto Sans JP',sans-serif;
   padding: 25px 0;
}


/*------------------Media queries--*/

@media screen and (max-width:768px) {
    .locations {
        margin-bottom: 5px;
    }
}

@media screen and (min-width:768px) {
    .mission-statement {
        border-left: 1px solid #fff;
        border-top: none;
    }
}

@media screen and (min-width:768px) {
   .form-section {
      padding-left: 5%;
   }
}